body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-image: url(./station.jpg);
    background-size: 400px 600px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
}

.bg-custom {
    background-color: #FFFFFF7A;
}